* {
    padding: 0;
    margin: auto;
}

.wapper {
    height: 700px;
    width: 1089px;
    background-color: antiquewhite;
}

header {
    height: 150px;
    width: 1089px;
    background-color: rgb(196, 171, 138);
}

nav {
    height: 50px;
    width: 1089px;
    background-color: rgb(210, 223, 207);
}

.content {
    height: 300px;
    width: 1089px;
    background-color: rgb(87, 228, 157);
}

footer {
    height: 200px;
    width: 1089px;
    background-color: rgb(19, 11, 1);
}

aside {
    height: 100%;
    width: 40%;
    background-color: rgb(103, 132, 155);
    float: left;
}

section {
    height: 300px;
    width: 60%;
    background-color: rgb(165, 110, 38);
    float: left;
}

.menu li {
    height: 100%;
    width: 200px;
    float: left;
    list-style-type: none;
    line-height: 50px;
    text-indent: 15px;
    position: relative;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: blue;
}

.menu li:hover {
    background-color: burlywood;
}

li:hover>a {
    font-style: italic;
    font-weight: bold;
    color: yellow;
}

.menu li .submenu {
    display: none;
    position: absolute;
}

.menu li:hover .submenu {
    display: block;
}